[Unit]
Description=Asterisk call center system exporter for Prometheus
After=network.target

[Service]
User=asterisk_exporter
Group=asterisk_exporter
Type=simple
ExecStart=/usr/local/bin/asterisk_exporter \
        --web.listen-address=":9815" \
        --web.telemetry-path="/metrics" \
        --metrics.prefix="asterisk" \
        --asterisk.path="/usr/bin/asterisk" \
        --collector.agents \
        --collector.core \
        --collector.sip \
        --collector.bridges \
        --collector.calendars \
        --collector.confbridges \
        --collector.iax2 \
        --collector.modules

Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target