[Unit]
Description=Asterisk call center system exporter for Prometheus
After=network.target

[Service]
User=asteriskk_exporter
Group=asteriskk_exporter
Type=simple
ExecStart=/usr/local/bin/asteriskk_exporter \
        --web.listen-address=":9795" \
        --web.telemetry-path="/metrics" \
        --metrics.prefix="asterisk" \
        --asterisk.path="/usr/bin/asterisk" \
        --collector.agents \
        --collector.core \
        --collector.sip \
        --collector.bridge \
        --collector.calendar \
        --collector.confbridge \
        --collector.iax2 \
        --collector.module 

Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target